/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Montserrat:400,700);
@import url(../../bower_components/fontawesome/css/font-awesome.min.css);
@font-face {
  font-family: 'League Gothic';
  src: url("../../bower_components/reveal.js/lib/font/league_gothic-webfont.eot");
  src: url("../../bower_components/reveal.js/lib/font/league_gothic-webfont.eot?#iefix") format("embedded-opentype"), url("../../bower_components/reveal.js/lib/font/league_gothic-webfont.woff") format("woff"), url("../../bower_components/reveal.js/lib/font/league_gothic-webfont.ttf") format("truetype"), url("../../bower_components/reveal.js/lib/font/league_gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
/**
 * Solarized colors by Ethan Schoonover
 */
html * {
  color-profile: sRGB;
  rendering-intent: auto; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fdf6e3;
  background: -moz-radial-gradient(center, circle cover, white 0%, #fdf6e3 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, #fdf6e3));
  background: -webkit-radial-gradient(center, circle cover, white 0%, #fdf6e3 100%);
  background: -o-radial-gradient(center, circle cover, white 0%, #fdf6e3 100%);
  background: -ms-radial-gradient(center, circle cover, white 0%, #fdf6e3 100%);
  background: radial-gradient(center, circle cover, white 0%, #fdf6e3 100%);
  background: url(../assets/images/manati-cara.png) bottom left no-repeat;
  background-attachment: fixed;
  background-color: #fdf6e3; }

.reveal {
  font-family: "Roboto Slab", sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #657b83; }

::selection {
  color: #fff;
  background: #d33682;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #586e75;
  font-family: "Montserrat", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-shadow: none; }

.reveal h1 {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15); }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #268bd2;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #78b9e6;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a6091; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #657b83;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #268bd2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #268bd2; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #268bd2; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #268bd2; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #268bd2; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #78b9e6; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #78b9e6; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #78b9e6; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #78b9e6; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #268bd2;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #268bd2; }

.reveal i.fa {
  font-family: FontAwesome;
  font-style: normal; }
.reveal li small {
  vertical-align: middle; }
.reveal h1 code, .reveal h2 code, .reveal h3 code, .reveal h4 code {
  text-transform: none; }
.reveal h1.small {
  font-size: 3em; }
.reveal table {
  margin-left: auto;
  margin-right: auto; }
  .reveal table thead {
    background: #839496;
    color: #fdf6e3; }
  .reveal table th {
    padding: 0 1em; }
  .reveal table td {
    text-align: center; }
.reveal p {
  margin-bottom: 0.5em;
  text-align: left; }
.reveal .img-frame {
  border-top: 5px solid #859900;
  margin-top: 0.7em;
  padding: 1em 0; }
.reveal .logos {
  border: none;
  box-shadow: none;
  width: 5em;
  margin: 0 1em; }
.reveal p.campito {
  margin: 1em 0; }
.reveal p.center {
  text-align: center; }
.reveal .perico {
  color: #859900;
  font-weight: 600; }
.reveal .pitufo {
  color: #268bd2;
  font-weight: 600; }
.reveal .forrado {
  background: rgba(0, 0, 0, 0.5);
  padding: 1em; }
.reveal .lista-grande {
  margin: 1em 0;
  -webkit-column-count: 2;
  -moz-columnt-count: 2;
  column-count: 2;
  -webkit-column-gap: 4em;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 4em;
  /* Firefox */
  column-gap: 4em; }
  .reveal .lista-grande li {
    list-style-type: disc;
    margin-left: 2em; }

/*# sourceMappingURL=theme.css.map */
