<h2><code>async</code></h2>

<p>
    Si <code>&lt;script&gt;</code> trae el atributo <code>async</code> el código es ejecutado apenas se descarga, pero sin bloquear el parser, permitiendo que el documento HTML siga siendo analizado por este.
</p>
<p class='campito'>
    <a href="http://caniuse.com/#search=async">http://caniuse.com/#search=async</a>
</p>
<p>
    Aproximadamente un 80% de los navegadores soportan esta opción.
</p>
<pre><code>
    &lt;script src="script.js" async>

</code></pre>
