<h2><code>boolean</code></h2>

<p>
    Puede contener solo dos valores, <em>verdadero</em> ó <em>falso</em>, representados con los literales <code>true</code> y <code>false</code>.
</p>
<p>
    Además en Javascript existen los valores <em>truthy</em> y <em>falsy</em>, o sea, valores parecidos a <code>true</code> y valores parecidos a <code>false</code>.
</p>

