<h2>Características</h2>

<ul>
    <li>Es imperativo y estructurado</li>
    <li>Dinámico</li>
    <li>Funcional</li>
    <li>Basado en Prototipos</li>
    <li>Funciones Variádicas</li>
    <li>Expresiones Regulares</li>
</ul>
