<h2>Recursos</h2>

<ul>
    <li><a href="http://en.wikipedia.org/wiki/JavaScript"><small>http://en.wikipedia.org/wiki/JavaScript</small></a></li>
    <li><a href="https://www.w3.org/community/webed/wiki/A_Short_History_of_JavaScript"><small>https://www.w3.org/community/webed/wiki/A_Short_History_of_JavaScript</small></a></li>
    <li><a href="https://developer.mozilla.org/en/docs/Web/JavaScript"><small>https://developer.mozilla.org/en/docs/Web/JavaScript</small></a></li>
    <li><a href="http://www.ecma-international.org/ecma-262/5.1/"><small>http://www.ecma-international.org/ecma-262/5.1/</small></a></li>
</ul>
