<h2>Recursos</h2>

<ul>
    <li><a href="http://www.w3schools.com/js/js_syntax.asp">http://www.w3schools.com/js/js_syntax.asp</a></li>
    <li><a href="http://en.wikipedia.org/wiki/JavaScript_syntax">http://en.wikipedia.org/wiki/JavaScript_syntax</a></li>
</ul>
