<h2>¿Cómo se corre?</h2>
<hr>
<h2><code>&lt;script&gt;</code></h2>

<ul>
    <li>Puede ir en cualquier parte del documento HTML</li>
    <li><code>&lt;head&gt; o &lt;body&gt;</code></li>
    <li>El parser de html espera a que descargue y se ejecute el código para continuar</li>
    <li>Agregarlos al final evita que la funcionalidad esté lista y puede dar mala experiencia</li>
    <li><code><span class="pitufo">async</span></code> y <code><span class="pitufo">defer</span></code></li>
</ul>
