<h2>Datos Primitivos</h2>

<ul>
    <li><code>Undefined</code></li>
    <li><code>Null</code></li>
    <li><code>Number</code></li>
    <li><code>String</code></li>
    <li><code>Boolean</code></li>
</ul>
