<h2><code>defer</code></h2>

<p>
    En cambio, cuando usamos <code>defer</code> los scripts son ejecutados en el orden en que se encuentran en el documento HTML, pero hasta después de haber analizado el documento completo.
</p>
<p class="campito">
    <a href="http://caniuse.com/#search=defer
">http://caniuse.com/#search=defer
</a>
</p>
<p>
    Un ~80% de los navegadores lo soportan completamente y un ~88% parcialmente
</p>
