<h2>Manipulación del DOM</h2>

<p>
    <code>document</code> ofrece varios métodos para poder manipular el DOM a través de Javascript.
</p>
<pre><code class="javascript">
//Los Tradicionales
    var byId = document.getElementById('elid');
    var allDivs = document.getElementsByTagName('div');
    var personNodes = document.getElementsByClassName("person-node");
    var phoneInputs = document.getElementsByName('phone-input');

//Los modernos
    var getOne = document.querySelector('p.warning, p.error');
    var getAll = document.querySelectorAll('p.warning, p.error');

</code></pre>
