<h2><code>document</code></h2>

<p>
    Cuando Javascript se ejecuta en un browser tenemos acceso a un objeto global llamado <code>document</code> que representa al DOM y provee una interfaz de programación para poder manipularlo.
</p>

<pre><code>
    document.getElementById("demo").innerHTML = "Hello World"
</code></pre>
