<h2>DOM,</h2>
<h3><code>document</code> y sus eventos</h3>

<p>
    El <em>Modelo de Objetos del Documento</em> permite que javascript accese y manipule el HTML en el navegador.
</p>
<p>
    Es una estructura jerárquica que nace en <code>document</code>, seguida por <code>&lt;html&gt;</code> y bajo ellos se puede encontrar a cualquier elemento de la página y sus atributos.
</p>
