<h2>ECMAScript</h2>

<ul>
    <li>ES2 - 1998</li>
    <li>ES3 - 1999</li>
    <li>ES4 - 2000</li>
    <li>ES4x - 2005</li>
    <li>ES3.1 - 2008</li>
    <li>ES3.1 ⇛ ES5 2009</li>
    <li>ES6 en proceso</li>
</ul>
