<h2>ECMAScript 5</h2>

<p>ES3.1 pasa a ser llamado ES5 luego de competir contra ES4x y resultar ganador.</p>
<br>
<ul>
    <li>JSON</li>
    <li>Object.hasOwnProperty()</li>
    <li>Object.keys()</li>
    <li>"Function Binding"</li>
</ul>
<br>
<br>
<br>
<h5 class="perico">IE9/10 FF4 CH19 SF6.7 WK</h5>
