<h1>El Código</h1>

<p class="center campito perico forrado">
    Ya sabemos cómo y donde poner nuestro código Javascript para poder ejecutarlo en el browser, entonces lo único que nos hace falta es el código mismo.
</p>
