<h2>El tag <code>&lt;script&gt;</code></h2>

<ul>
    <li><code>src</code></li>
    <li><code>type</code></li>
    <li><code>defer</code></li>
    <li><code>async</code></li>
</ul>

<pre><code><script type="text/javascript" src="/path/to/script1.js"></script> </code></pre>
<pre><code>
        <script type="text/javascript">
            //Código Javascript aquí
        </script>
    </code></pre>
