<h2>Estructuras de Control</h2>

<p>
	Las estructuras de control requieren de una expresión para tomar las decisiones.
</p>

<pre><code>
    if (expr) {};

    for (var i=0; expr; i++) {};

    for (var key in obj) {};

    while (expr) {}

</code></pre>
<pre><code>
    Array.forEach(function(item, index) {
        //código
    })

</code></pre>
