<h2>Eventos</h2>

<ul>
    <li><code>onload</code></li>
    <li><code>onclick</code></li>
    <li><code>onkeypress</code></li>
    <li><code>onmouseover</code></li>
    <li><a href="http://www.w3schools.com/jsref/dom_obj_event.asp
"><small>http://www.w3schools.com/jsref/dom_obj_event.asp</small></a></li>
</ul>
