<h2>Expresiones</h2>

<p>
    Consisten de operaciones y valores que serán evaluados por javascript.
</p>
<p>
    Pueden ser utilizadas para asignaciones o control de flujo, etc.
</p>
<pre><code class="javascript">
    edad < 14
    'María' == nombre
    'Una Parte ' + ‘de una frase ’ + ‘más grande’
    objeto1 === objeto2
    true == 1
    true === 1

</code></pre>
