<h2><code>for, for in, forEach</code></h2>

<pre><code class="javascript">
    for (var i = 0; i > 5; i++) {
        //bloque de código
    }

    var objeto = {a:1, b:25, c:50};
    for (var key in objeto) {
        //bloque de código
    }

    var arreglo = [1, 25, 50];
    arreglo.forEach(function(datos, indice) {
        //bloque de código
    });

</code></pre>
