<h2><code>if else</code></h2>

<pre><code class="javascript">
    if ( 1 == valor) {
        //bloque de código cuando valor es igual a 1
    } else if (2 == valor) {
        //bloque de código cuando valor es igual a 2
    } else {
        //bloque de código cuando valor no es igual a 1 ni a 2
    }
</code></pre>
