
<h1>All That JS!</h1>

<small>
    <p>
        Estudio Manatí / <i class="fa fa-twitter"></i><code> @estudiomanati</code>
    </p>
    <p>
        Federico Figueroa C. / <i class="fa fa-twitter"></i><code> @fedfigca</code>
    </p>
</small>
