<h2>¿Qué es Javascript?</h2>
<br>
<blockquote>Un lenguaje interpretado, basado en <i>prototipos</i>.</blockquote>
<br>
<ul>
    <li>Tipo de datos <i>Dinámico</i></li>
    <li>Funciones de primer orden</li>
    <li>C-Like</li>
    <li>Diferentes paradigmas -  <i>OOP, Imperativo, Funcional</i></li>
</ul>
