<h2>Más Sobre Variables</h2>

<p class="campito">
    Los nombres de una variable deben empezar con una letra (A-Z a-z), un guión bajo (_) o signo de dólar ($).
</p>
<p>
    El resto de caracteres pueden ser también números.
</p>
<p class="campito">
    Para declarar una variable es necesario usar la palabra clave <code>var</code>.  Esta no es requerida, pero si quieren evitar problemas extraños y difíciles de encontrar, es una buena práctica utilizarla <em>siempre</em>.
</p>
<pre><code>
    var i = 0,
        express = require('express');
</code></pre>
