<h2><code>NaN</code></h2>

<p>
    Para complementar <code>number</code> existe el valor especial <code>NaN</code> (Not a Number).
</p>
<p>
    Indica que el resultado de alguna expresión aritmética ha resultado en un valor que no es del tipo <code>number</code>.
</p>
<pre><code class="javascript">
    var x = 100 / 'Tacacos'; // x contiene NaN
    var x = 100 / '10' // pero, aca x contiene 10, lindo ¿no?
</code></pre>
