<h2>Introducción</h2>

<p>
    Fue anunciado en el <span class="pitufo">JSConf</span> del 2009, y creado por <span class="perico">Ryan Dahl</span>.
</p>
<p>
    Es una interfaz en C++ la cual es controlada y programada a través del motor de Javascript de Chrome, <span class="perico">V8</span>.
</p>
