<h2>Recursos</h2>

<ul>
    <li><a href="http://nodejs.org/">http://nodejs.org/</a></li>
    <li><a href="http://wiki.commonjs.org/wiki/CommonJS">http://wiki.commonjs.org/wiki/CommonJS</a></li>
    <li><a href="https://www.npmjs.org/">https://www.npmjs.org/</a></li>
</ul>
