<h2>Sus Características</h2>

<ul>
    <li>I/O no bloquea el proceso.</li>
    <li>Programación basada en eventos - <span class="perico">Asincrónica</span>.</li>
    <li>Event Handlers o Callbacks.</li>
</ul>

<pre><code class="javascript">
    // Modo tradicional:
    resultado = query(‘SELECT * FROM nic WHERE date < Date.now()’);
    hacemosAlgoCon(result);


    // Estilo basado en eventos
    function queryHandler(err, result) {
        hacemosAlgoCon(result);
    }

    query(‘SELECT * FROM nic WHERE date < Date.now()’, queryHandler);

</code></pre>
