<h2><code>npm</code></h2>

<pre><code class="javascript">
    npm init // De manera interactiva crea un package.json
    npm search "término" // Busca en el registro global por término
    npm install "módulo" // Instala el módulo indicado
    npm uninstall "módulo" // Desinstala el módulo

</code></pre>
<ul>
    <li>
        <code>-g</code>
        <ul>
            <li>Instala de manera global</li>
        </ul>
    </li>
    <li>
        <code>--save</code>
        <ul>
            <li>Añade el módulo a package.json como dependencia de ejcución</li>
        </ul>
    </li>
    <li>
        <code>--save-dev</code>
        <ul>
            <li>Añade el módulo a package.json como dependencia de desarrollo</li>
        </ul>
    </li>
</ul>
