<h2>Módulos</h2>
<p class="center">
    Node utiliza el estándar <span class="perico">CommonJS</span>.
</p>
<pre><code class="javascript">
    var http = require(‘http’); // http es un módulo core
    var express = require(‘express’); // express fue instalado a través de npm
    var miModulo = require(‘../lib/miModulo’); // se encuentra en un archivo local

</code></pre>
<pre><code class="javascript">
    function doSomething() {
        // Código
    }

    function doSomethingElse() {
        //Código
    }

    module.exports.something = doSomething;
    module.exports.somethingElse = doSomethingElse;

</code></pre>
