<h2>Programación Asincrónica</h2>

<p>
    Utilizando <em class="perico">Closures</em> se facilita la programación asincrónica en Javascript.
</p>
<p>
    Comenzamos definiendo el código que debe ejecutarse cuando algún evento ocurra dentro de una función, que luego es dada como argumento al <code>handler</code>.
</p>
