<h2><code>null</code></h2>

<p>
    <code>null</code> es utilizado para indicar que una variable ha sido inicializada y se ha definido que estará vacía.
</p>

<pre><code>
    var nada = null;
</code></pre>
