<h2><code>number</code></h2>

<p>
    <code>number</code> en javascript es siempre representado como un binario 64 bits con punto flotante, según el estándar IEEE-754
</p>
<p>
    &mdash; <small>&ldquo;no es una porquería&rdquo;</small> &mdash;
    <small>Les Luthiers.</small>
</p>

<p>
    Presenta una precisión de 16 dígitos significativos, y <em><b>no siempre representa exactamente un número</b></em>.
</p>

<pre><code>
    (0.2 + 0.1) == 0.3 //es falso
    0.94 - 0.01 //resulta en 0.9299999999999999
    var y = 9999999999999999 //y contiene 10000000000000000
</code></pre>
