<h2><code>number</code> Cont.</h2>

<p>
    Estos problemas se deben a la manera en que IEEE-754 guarda los números:
</p>

<table>
    <thead>
        <tr>
            <th>Valor (o fracción)</th>
            <th>Exponente</th>
            <th>Signo</th>
        </tr>
    </thead>
    <tr>
        <td>52 bits, 0 - 51</td>
        <td>11 bits, 52 - 62</td>
        <td>1 bit, 63</td>
    </tr>
</table>


<pre><code class="javascript">
    var hexa = 0xFF; //Decimal 255
    var e = 2.55e2; //Decimal 255
    var oct = 0377; //Decimal 255
</code></pre>

<p class="campito">
    Los valores que inicien con <code>0x</code> serán interpretados como Hexadecimales, y también podemos también utilizar notación científica.
</p>
<p>
     La representación Octal, que se indica iniciando el valor únicamente con <code>0</code>.
</p>
<p class="center perico">
   <small><i class="fa fa-eye"></i> con Octal, código confuso y errores de cálculo</small>
</p>
