<h2>Anatomía de una función</h2>

<p>
    Además de <code>function</code> podemos identificar varios elementos en una función, algunos de ellos pueden, o no, estar presentes.
</p>

<ul>
    <li>Nombre</li>
    <li>Parámetros</li>
    <li>Bloque de código</li>
</ul>

<pre><code class="javascript">
    function addOne(x) {
        return x + 1;
    }

</code></pre>
