<h2>Argumentos</h2>

<p>
    Los valores declarados a cada parámetro de la función son llamados <em>argumentos</em>.
</p>
<p>
    Pueden ser <span class="pitufo">más</span> o <span class="perico">menos</span> que los parámetros de la función.
</p>
<ul>
    <li>Si son <span class="perico">menos</span>, los parámetros sin argumento serán <code>undefined</code></li>
    <li>Si son <span class="pitufo">más</span> los argumentos extra no tendrán nombre y no podrán ser leídos a través de un parámetro</li>
</ul>
