<h2><code>return</code></h2>

<p>
    En cualquier parte del bloque de código en que se ejecute una declaración de <code>return</code> la función terminará y el valor de dicha declaración será entregado a quien la haya llamado.
</p>
<p>
    De no existir o ejecutarse return en ningún momento, el valor de retorno será <code>undefined</code>.
</p>
<pre><code class="javascript">
    function factor(a, b) {
        return a * b;
    }

    var x = factor(2, 16); //32
</code></pre>
