<h2>Array</h2>

<p>
    Es una estructura de datos ordenada por inserción, y puede contener cualquier tipo de datos heterogéneos en sus campos.
</p>
<p class="small">
    Se declara con <code>[ ]</code>
</p>
<pre><code class="javascript">
    var arreglo = [ 12, 'string', {a:1, b:2}, null, 15 ];
</code></pre>
