<h2>Constructores</h2>

<p>
    Son funciones cuyo objetivo es crear objetos de cierto tipo.
</p>
<p>
    Como convención se intenta siempre nombrarlos con su primer letra en Mayúscula.
</p>

<pre><code class="javascript">
    function Carro(año, marca, peso) {
        this.año = año;
        this.marca = marca;
        this.peso = peso
    }

</code></pre>
<pre><code class="javascript">
    var fiat = new Carro(2011, 'fiat', '1500lb');
</code></pre>

<p class="center">
    <i class="fa fa-eye"></i> a <span class="perico">new</span>
</p>
