<h2>Objetos por Referencia</h2>

<p>
    Una variable nunca contiene un objeto, más bien contiene una referencia al objeto.
</p>

<pre><code class="javascript">
    var otroCarro = carro;
    otroCarro === carro //true
    otroCarro.año = 1997;
    carro.año //1997

</code></pre>
