<h2><code>String</code></h2>

<p>
    Para concatenar podemos usar <code class="perico">+ +=</code>.
</p>
<p>
    Para comparar podemos usar <code class="perico">< ></code>.
</p>
<pre><code class="javascript">
    var a = 'a', b = 'b';
    (a < b) // true

    var inicio = 'Hola', final = 'Te Saluda';
    console.log(inicio + ' Javascript ' + final);

</code></pre>
