<h2>Métodos de <code>String</code></h2>

<pre><code class="javascript">
    .charAt()       // índice en donde se encuentre el caracter dado
    .contains()     // true o false si la cadena argumento se encuentra en la original
    .indexOf()      // El índice de la primer aparición de una cadena en otra
    .replace()      // Regresa un nuevo String reemplasando según una expresión regular
    .slice()        // Extrae una sección de la cadena
    .split()        // Parte el string y regresa un Array
    .toLowerCase()  // Todas sus letras a minúsculas
    .toUpperCase()  // Todas sus letras a mayúsculas

</code></pre>
<pre><code class="javascript">
    .anchor('nombre')       // <a name="nombre">String</a>
    .blink()                // <blink>String</blink>
    .fontcolor('tomato')    // <font color="tomato">String</font>

</code></pre>
