<h2>Transformando <code>Array</code></h2>

<pre><code class="javascript">
    .forEach() // Ejecuta una función en cada elemento
    .filter() // Crea un nuevo array según lo regresado por una función
    .map() // Crea un nuevo array con el resultado de una función en cada elemento
    .reduce() // Función contra un acumulador y los elementos, regresando un solo valor

</code></pre>
<pre><code class="javascript">
    var arrayNumeros = [1, 5, 7, 3, 8, 9];

    var total = arrayNumeros.reduce(function(total, num) {
        return total + num;
    }, 0);

</code></pre>
