<h2>JSON</h2>

<pre><code class="json">
    {
        “motor”: {
            “cilindros”: [1, 2, 3, 4],
            “torque”: “200 ft/lb”,
            “potencia”: “300 kW”
        },
        “interior”: {
            “asientos”: [‘delantero derecho’, ‘delantero izquierdo’, ‘trasero’],
            “color”: “Blanco”
        },
        “Valor Fiscal”: 1500000
    }

</code></pre>
<pre><code class="javascript">
    JSON.parse(); //Produce un objeto desde texto JSON
    JSON.stringify(); //Convierte un objeto a texto JSON

</code></pre>
