<h2><code>Object, Function</code></h2>

<p>
    <code class="perico">Object</code> es el objeto padre de todos los demás objetos de Javascript.
</p>
<p>
    Todas las funciones en son objetos <code class="perico">Function</code>.
</p>
<pre><code class="javascript">
    Object.prototype // Permite agregar porpiedades a todos los objetos
    Object.keys() // Regresa un array con las llaves de las propiedades de un objeto


</code></pre>
<pre><code class="javascript">
    Function.length // Contiene el número de argumentos que una función espera
    Function.prototype.toString() // Regresa el código fuente de una función

</code></pre>
