<h2><code>Math</code></h2>

<p>
    Este objeto ofrece métodos y constantes matemáticas, y no es un constructor.
</p>
<pre><code class="javascript">
    Math.E      // Constante de Euler
    Math.LN2    // Logaritmo natural de 2
    Math.PI     // Pi

</code></pre>
<pre><code class="javascript">
    Math.abs(x)     // Valor absoluto de x
    Math.cos(x)     // Coseno de x
    Math.floor(x)   // El Entero más cercano, menor o igual a x
    Math.ceil(x)    // El Entero más cercano, mayor o igual a x
    Math.max([x[,y[,...]]]) // El mayor de cero o más números
    Math.pow(x, y)  // X a la potencia Y

</code></pre>
