<h2><code>Date</code></h2>

<p>
    Son basados en la cantidad de <em class="perico">milisegundos</em> transcurridos desde el 1 de enero de 1970, UTC.  <em class="pitufo">Epoch</em>
</p>
<pre><code class="javascript">
    new Date();         // Fecha y hora de ejecución de la línea
    new Date(valor);    // valor es la cantidad de ms desde Epoch
    new Date(string);   // Intenta obtener un Date parseando el String
    new Date(year, month, day, hour, minute, second, millisecond);

</code></pre>
<pre><code class="javascript">
    .now()      // Retorna la fecha y hora actual
    .parse()    // Intenta obtener una fecha de un string
    .getDate()  // El número de día del mes 1 - 31
    .getDay()   // El número de día de la semana 0 - 6

</code></pre>
