<h2><code>Error</code></h2>

<p>
    Estos objetos son utilizados para el manejo de errores y excepciones.
</p>
<ul>
    <li>
        <code class="perico">message</code>
        <ul>
            <li>Mensaje Humano</li>
        </ul>
    </li>
    <li>
        <code class="perico">fileName</code>
        <ul>
            <li>El archivo en donde se encuentra el código con error</li>
        </ul>
    </li>
    <li>
        <code class="perico">lineNumber</code>
        <ul>
            <li>Número de línea donde se encuentra el error</li>
        </ul>
    </li>
</ul>
<pre><code class="javascript">
    try {
        throw new Error('¡Opa Opa!');
    } catch(error) {
        console.log(error.name+ ': '+error.message);
    }

</code></pre>
