<h2>¿Orientación a Objetos?</h2>

<p>
    Se refiere a un paradigma de programación en donde los problemas se resuelven pensando la solución en términos de objetos.
</p>
<p>
    Tendremos entonces objetos con <span class="pitufo">estados</span> y <span class="perico">comportamientos</span>, por ejemplo el estado de un carro puede ser <em>"Lleno de combustible"</em> y su comportamiento <em>"en marcha"</em>
</p>
<p>
    Abstraemos entonces los elementos que componen un problema y lo separamos del código necesario para implementar la solución.
</p>
