<h2>Usando Prototype</h2>

<p>
    Los objetos creados con <code>new Date()</code> heredan del prototipo <code>Date.prototype</code>, y los creados con <code>new Carro()</code> heredan de Carro.prototype.
</p>

<pre><code class="javascript">
    var fiat = new Carro(2011, 'fiat', '2000lb');
    fiat.miles //undefined

    /* Se agrega la propiedad miles a todos las instancias de Carro */
    Carro.prototype.miles = 0;

    /* Agregamos también un método para incrementar la propiedad 'miles' */
    Carro.prototype.incMiles = function(miles) {
        this.miles = this.miles + miles;
    }

    fiat.miles // 0
    fiat.incMiles(10);
    fiat.miles //10

</code></pre>
