<h2><code>push pop unshift shift</code></h2>

<p>
    Además de <code>forEach</code>, los array en Javascript ofrecen otros métodos.
</p>
<ul>
    <li><code class="pitufo">.push()</code> inserta un elemento al final del array</li>
    <li><code class="pitufo">.pop()</code> elimina un elemento al final del array y lo regresa a quien lo haya llamado</li>
    <li><code class="pitufo">.unshift()</code> inserta al inicio</li>
    <li><code class="pitufo">.shift()</code> elimina al inicio y retorna el valor</li>
</ul>
