<h2>Uso de Array</h2>

<p>
    Para obtener o actualizar el valor de un campo del array utilizamos el nombre del mismo, paréntesis cuadrados y dentro de ellos el índice del elemento deseado. <span class="pitufo">(iniciando en 0)</span>
</p>
<pre><code class="javascript">
    var arreglo = [ 12, 'string', {a:1, b:2}, null, 15 ];
    arreglo[0] // 12
    arreglo[2] // {a:1, b:2}
    arreglo[3] = 'lorem' // [12, 'string', {a:1, b:2}, 'lorem', 15]
</code></pre>
<p>
    Para conocer el tamaño:
</p>
<pre><code class="javascript">
    arreglo.length //5
</code></pre>
