<h2>Closures</h2>

<p>
    Se le llama a las funciones que heredan variables de su ambiente o <code>scope</code>.
</p>
<pre><code class="javascript">
    //Incrementando con una variable global -Peligroso-
    var counter = 0; // Variable Global

    function inc() {
        counter = counter + 1;
        return counter;
    }
    console.log(inc());

</code></pre>
<pre><code class="javascript">
    function makeCounter() {
        var counter = 0; // variable local a la función makeCounter

        function inc() {
            counter = counter + 1;
            return counter;
        }

        return inc; // Retornamos la función inc
    }
    var contar = makeCounter();
    console.log(contar());

</code></pre>
