<h2>Recursos</h2>

<ul>
    <li><a href="http://json.org/">http://json.org/</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON">https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON</a></li>
    <li><a href="http://www.w3schools.com/json/">http://www.w3schools.com/json/</a></li>
</ul>
