<h2><code>.prototype</code></h2>

<p>
    Todo objeto en Javascript tiene un prototipo, y se le conoce como <code class="pitufo">prototype</code>.
</p>
<p>
    La herencia es manejada a través de este prototipo, quien hereda a todos sus hijos de manera dinámica.
</p>
<p>
    Al crear la función constructora se crea automáticamente el prototipo para ese tipo de objetos, y el prototipo maestro de todos proviene del constructor <code>Object()</code>, y es llamado <code class="perico">Object.prototype</code>.
</p>
