<h2>Objetos</h2>

<p>
    Parte primordial del trabajo con Javascript.
</p>
<p class="campito perico"><small>Están por todos lados</small></p>
<p>
    Son una colección de propiedades, que se comportan de manera similar a variables y pueden contener los mismos tipos de datos.
</p>
<ul>
    <li>Primitivos</li>
    <li>Funciones</li>
    <li>Otros Objetos</li>
</ul>
