<h2><code>Number</code></h2>

<p>
    Nos permite trabajar valores numéricos, y se puede usar para conversiones, o para obtener valores predeterminados.
</p>
<pre><code class="javascript">
    .MAX_VALUE  // El mayor número positivo representable
    .MIN_VALUE  // El positivo representable más cercano a cero
    .NaN        // Valor especial que indica que no es un número
    .NEGATIVE_INFINITY //Infinidad negativa

</code></pre>
<pre><code class="javascript">
    .isNaN()        // Determina si el valor es NaN
    .isFinite()     // Determina si el valor es finito
    .parseInt()     // Intenta obtener un Entero de un String
    .parseFloat()   // Intenta obtener un Punto Flotante de un String

</code></pre>
