<h2>JSON</h2>
<h3>JavaScript Object Notation</h3>

<p>
    Es un formato utilizado por Javascript para compartir datos en modo texto.
</p>
<p>
    Comparte características familiares entre varios lenguajes, por lo que es ideal para compartir información en ambientes heterogéneos.
</p>
<ul>
    <li>String</li>
    <li>Number</li>
    <li>Object</li>
    <li>Array</li>
    <li>Boolean</li>
    <li>Null</li>
</ul>
