<h2>Recorriendo un  Array</h2>

<pre><code class="javascript">
    //Con un ciclo for o while
    for (var i = 0; i < arreglo.length; i++) {
        console.log(arreglo[i]);
    }

    //Con el método forEach del array en Javascript
    arreglo.forEach(function(item, index) {
        console.log('En el índice '+ index +' está el elemento '+ item);
    });

</code></pre>
