<h2>Funciones</h2>

<p>
    Las funciones permiten escribir código utilizable en diversas oportunidades y circunstancias.
</p>
<ul>
    <li>Reutilizable</li>
    <li>Adaptable</li>
    <li>Manejable</li>
    <li>Mantenible</li>
    <li>Abstrae complejidad</li>
</ul>
