<h2><code>function</code></h2>

<p>
    Una función en Javascript puede ser declarada de varias maneras, pero todas ellas incluyen la palabra clave <code>function</code>
</p>

<pre><code class="javascript">
    var func = function() { //Dentro de una variable
        //Bloque de código
    }

    function func(arg) { //Como función con nombre
        //Bloque de código
    }

    objeto.prop = function () { //Dentro de una propiedad de un objeto
        //Bloque de código
    }

    array.forEach(function(item, index) { //Como función anónima
        //Bloque de código
    });

</code></pre>
