<h2><code>this</code></h2>

<p>
    Para referenciar la propiedad de un objeto dentro de un método del mismo, utilizamos la palabra clave <code class="pitufo">this</code>
</p>
<p>
    Podemos pensar en <code>this</code> como una variable a la que se le asigna la referencia al objeto directo del método llamado.
</p>
<pre><code class="javascript">
    carro.interior.llave = false;

    carro.interior.girarLlave = function() {
        this.llave = !this.llave; //this referencia al objeto carro.interior no a carro
    }

    carro.encender = function() {
        this.interior.llave = true;
    }

</code></pre>
