<h2>Herencia Múltiple Cont.</h2>

<pre><code class="javascript">
    function CarroCarreras(motor, turbo) {
        this.motor = motor;
        this.turbo = turbo || false;
    }
    CarroCarreras.prototype = new Carro();
    CarroCarreras.prototype.constructor = CarroCarreras;
    var ferrari = new CarroCarreras(‘2000cc V12’, true);

</code></pre>
<pre><code class="javascript">
    function CarroCarreras(año, marca, peso, motor, turbo) {
        Carro.call(this, año, marca, peso);
        this.motor = motor;
        this.turbo = turbo || false;
    }
    CarroCarreras.prototype = new Carro();
    CarroCarreras.prototype.constructor = CarroCarreras;
    var ferrari = new CarroCarreras(‘ferrari’, ‘enzo’, ‘1000lb’, ‘2000cc V12’, true);
    ferrari instanceof Carro //true
    ferrari instanceof CarroCarreras //true

</code></pre>
