<h2><code>Boolean</code></h2>

<p>
    Evalúa expresiones y regresa un primitivo <code>Boolean</code>.
</p>
<p><small>
    Se recomienda usar sin <code class="pitufo">new</code>, pues en modo constructor cualquier valor que no sea <code class="perico">null</code> ó <code class="perico">undefined</code> evaluará a <code class="pitufo">true</code>, incluyendo objetos <code>Boolean</code> falsos.
</small></p>
<pre><code class="javascript">
    var miVerdad = Boolean(true),
        laUnicaVerdad = Boolean(1),
        falsedadMentira = Boolean(false),
        talVez = Boolean(x > y);

    var peligro = new Boolean(falsedadMentira); //true

</code></pre>
