<h2>Herencia Múltiple</h2>

<p>
    Aunque se complica un poco, es posible que un Objeto herede de varios prototipos.
</p>
<ul>
    <li>Crear el constructor.</li>
    <li>Se agregan los diferentes objetos de quienes heredar al prototipo.</li>
    <li>Se indica el constructor correcto.</li>
</ul>
