<h2>Diferencias</h2>

<p>
    Existen algunas reglas diferentes a la hora de escribir objetos en Javascript y JSON:
</p>
<ul>
    <li>Las propiedades siempre deben ir entre comillas dobles <code>(")</code>.</li>
    <li>No se permiten ceros a la izquierda.</li>
</ul>
