<h2>Manipulando Objetos</h2>

<pre><code class="javascript">
    carro.año //1994
    carro[“marca”] //”mazda”
    carro[“start”]() //ejecuta el método start()
    carro.peso = “1995 lb” //Asigna un nuevo valor a carro.peso
    carro.interior[“aire acondicionado”] //true

</code></pre>

<p class="campito"><small>La cantidad de propiedades es variable:</small></p>
<pre><code class="javascript">
    carro.nuevaPropiedad = "Un Valor";
    delete carro.peso;

</code></pre>
