<h2>Recursos</h2>
<ul>
    <li>
        <p>Objetos Globales</p>
        <a href="https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects">https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects</a>
    </li>
    <li>
        <p><code>Object</code></p>
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object">https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object</a>
    </li>
    <li>
        <p><code>Function</code></p>
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function">https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function</a>
    </li>
    <li>
        <p><code>Number</code></p>
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number">https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number</a>
    </li>
</ul>
