<h2>Manejo de Valores</h2>

<p>
    Si el valor de un argumento es un <em>primitivo</em> entonces Javascript lo maneja por copia de valor, <em class="perico">Pass by Value</em>.
</p>
<p>
    Si el argumento es un objeto, entonces Javascript lo manejará por <em>referencia</em>, <em class="pitufo">Pass by Reference</em>.
</p>
<pre><code class="javascript">
    var x = 7,
        objeto = {
            a: 1,
            b: 'texto'
        };

    function addOne(x) {
        return x++;
    }

    function setA(obj) {
        obj.a = 4;
    }

    var y = addOne(x); // y será 8, x seguirá siendo 7
    setA(objeto); // objeto.a será 4
</code></pre>
