<h2>Globales y Locales</h2>

<p>
    Ya sabemos que para declarar una variable debemos usar <code>var</code>, quien puede estar dentro o fuera de una función, y dependiendo de donde se declare así será el ámbito (o <code>scope</code>) en que esta variable pueda ser utilizada.
</p>

<pre><code class="javascript">
    var global = 10,
        inc = 1;

    function impr() {
        var local = 'un texto',
            inc = 3;

        console.log(global+inc); //Imprime 13
    }

    console.log(local); //Lanza ReferenceError: local is not defined
</code></pre>

<p class="perico">
    <small><i class="fa fa-eye"></i> Si una variable local se llama igual a una global, como el caso de <code>inc</code>, dentro del ámbito local de la función <code>impr</code> la variable local es quien tiene precedencia, y la global del mismo nombre se vuelve inaccesible.</small>
</p>
