<h2><code>.prototype</code> Override</h2>

<p>
    Las propiedades y métodos heredados a través de <code>.prototype</code> no son siempre obligatorios, y pueden ser "sobre escritos" para cada instancia de objeto.
</p>

<pre><code class="javascript">
    fiat.incMiles = function(miles) {
        this.miles = this.miles + (miles * 1.5);
    }

</code></pre>
