<h2><code>Array</code></h2>

<p>
    Sus métodos son especiales para recorrer y modificar listas dinámicas.
</p>
<pre><code class="javascript">
    new Array(10)               // Crea un nuevo Array con 10 espacios
    new Array(e1, e2, ..., eN)  // Crea un array con e1...eN como valores iniciales

</code></pre>
<p><small>
    Se recomienda siempre crear Arrays con la notación <code class="pitufo">[ ]</code>
</small></p>
<pre><code class="javascript">
    Array.isArray(x) // Determina si x es Array
    .fill() // Llena los campos desde índice inicial hasta índice final
    .pop() // Elimina y regresa el último valor
    .push() // Inserta uno o más elementos al final
    .reverse() // Invierte el orden de los elementos
    .shift() // Elimina y regresa el primer valor
    .unshift() // Inserta uno o más elementos al inicio
    .concat() // Regresa un nuevo array uniendo dos o más
    .join() // Une todos los elementos en un String
    .indexOf() // El índice de la primer aparición de un elemento

</code></pre>
