<h2>Closures Cont.</h2>

<p>
    Otra manera de crear un Closure es pasando una función como argumento a otra.
</p>
<pre><code class="javascript">
    function enviarMensaje(mensaje, tiempo) {
        setTimeout(function() {
            console.log(mensaje);
        }, tiempo);
    }
    enviarMensaje('Hola Mundo', 500);

</code></pre>
