<h2><code>instanceof</code></h2>

<p>
    Se usa para saber si un objeto proviene de un prototipo específico.
</p>
<pre><code class="javascript">
    fiat instanceof Carro //true
    fiat instanceof Date //false

</code></pre>
