<h2>Otros Métodos de Array</h2>

<ul>
    <li>
        <code>.sort()</code>
        <ul>
            <li><small>Ordena un array, puede recibir una función como parámetro para comparar los elementos</small></li>
        </ul>
    </li>
    <li>
        <code>.toString()</code>
        <ul>
            <li><small>Convierte a <code>String</code> los valores</small></li>
        </ul>
    </li>
    <li>
        <code>.splice()</code>
        <ul>
            <li><small>Agrega o remueve elementos utilizando un índice</small></li>
        </ul>
    </li>
    <li>
        <code>.reverse()</code>
        <ul>
            <li><small>Invierte el orden de los elementos</small></li>
        </ul>
    </li>
    <li>
        <code>.concat()</code>
        <ul>
            <li><small>Une dos array</small></li>
        </ul>
    </li>
</ul>
