<h2>Objetos Globales</h2>

<ul class="lista-grande campito">
    <li>Object</li>
    <li>Function</li>
    <li>Error</li>
    <li>Boolean</li>
    <li>Number</li>
    <li>Math</li>
    <li>Date</li>
    <li>String</li>
    <li>RegExp</li>
    <li>Array</li>
</ul>
