<h2>Recursos</h2>

<ul>
    <li><a href="http://www.w3schools.com/js/js_objects.asp">http://www.w3schools.com/js/js_objects.asp</a></li>
    <li><a href="http://www.w3schools.com/js/js_object_definition.asp">http://www.w3schools.com/js/js_object_definition.asp</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Working_with_Objects">https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Working_with_Objects</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Introduction_to_Object-Oriented_JavaScript">https://developer.mozilla.org/en-US/docs/Web/JavaScript/Introduction_to_Object-Oriented_JavaScript</a></li>
</ul>
