<h2>Anatomía de un Objeto</h2>

<p>
    Se componen de parejas de <em>llave/valor</em>, en donde la llave puede ser cualquier <code>String</code> válido de JS y el valor puede ser cualquier tipo de datos.
</p>
<ul>
    <li>Se definen con llaves <code class="pitufo">{ }</code></li>
    <li>Las llaves y valores se separan con dos puntos <code class="pitufo">:</code></li>
    <li>Las diferentes propiedades se separan con coma <code class="pitufo">,</code></li>
</ul>
<pre><code class="javascript">
    var carro = {
        año: 1994,
        marca: “mazda”,
        peso: “2000 lb”,
        interior: {
            “color asientos”: “Negro”,
            “aire acondicionado”: true
        },
        start: function() { /* código */ },
        stop: function() { /* código */ }
    }

</code></pre>
