<h2>¿Qué vamos a ver?</h2>

<ul>
    <li>Introducción a Javascript</li>
    <li>Javascript en el Browser</li>
    <li>Javascript en el Server</li>
    <li>Angular.js</li>
    <li>FullStack - M.E.A.N.</li>
</ul>

<br>

<div class="img-frame">
    <img class='logos' src="../assets/images/Unofficial_JavaScript_logo_2.svg" alt="">
    <img class='logos' src="../assets/images/nodeLogoTransparent.png" alt="">
    <img class='logos' src="../assets/images/angularLogo.png" alt="">
</div>
