<h2>Sintaxis</h2>

<ul>
    <li>Case sensitive</li>
    <li>Espacio, tab, 'línea nueva' son "espacio"</li>
    <li>ASI - <i>Automatic Semicolon Insertion</i></li>
    <ul>
        <li>
            <pre><code class="javascript">
var a = b + c
(d + e).foo()
// Se lee como var a = b + c(d + e).foo();

var a = b + c
;(d + e).foo();

return
a + b;
/* Se lee como
    return;
    a + b;
*/
            </code></pre>
        </li>
    </ul>
    <li>Los comentarios son con <code>/* */</code> ó <code>//</code></li>
    <li>'var' para declarar variables</li>
</ul>
