<h2><code>string</code></h2>

<p>
    Una secuencia de caracteres es un <code>string</code> en Javascript.
</p>
<p>
    Para crearlas debemos poner la serie entre comillas dobles (<code>"</code>) o simples (<code>'</code>).
</p>
<pre><code>
    var cadena = 'Hola Mundo.';
    var x = 'Esto "es" un string válido';
    var y = "Y curiosamente \"esto\" también";
</code></pre>
<pre><code class="javascript">
    cadena.charAt(0) //regresa 'H'
    cadena[0] //regresa 'H'
    cadena[0] = 'h' //falla
</code></pre>
<pre><code class="javascript">
    cadena.length // 11
</code></pre>
