<h2>Su inicio</h2>

<ul>
    <li>Brendan Eich en mayo de 1995</li>
    <li>Mocha</li>
    <li>Livescript en setiembre</li>
    <li>Javascript en diciembre (Sun Microsystems)</li>
</ul>
<hr>
<p>
    Entre 1996 y 1997 se lleva a la Asociación Europea de Constructores de Computadoras (<i>ECMA</i>)
</p>
