<h4>Falsy</h4>
<pre><code class="javascript">
    undefined
    null
    NaN
    "" //String vacío
    0
    -0
</code></pre>

<h4>Truthy</h4>
<pre><code class="javascript">
    number //cuando el valor numérico no sea 0 ni -0
    string //cuando no es una cadena vacía ""
        //Incluyendo los strings "0", "-0", "false" ;)
    cualquier objeto excepto null
</code></pre>
