<h2><code>undefined</code></h2>

<ul>
    <li>Cualquier variable que no haya sido inicializada.</li>
    <li>Valor de retorno en propiedades que no existen en un objeto.</li>
</ul>

<pre><code>
    var test; //undefined
    var objeto = {};
        objeto.propiedad //undefined
</code></pre>
