<h2>Usando a <code>boolean</code></h2>

<p>
    Para hacer comparaciones tenemos varios operadores:
</p>
<p class="center campito">
    <code>== != < > === !==</code>
</p>

<p class="campito">
    Y la función golbal <code>Boolean()</code> que nos permite evaluar valores <em>truthy</em>, <em>falsy</em> y expresiones a los literales <code>true</code> y <code>false</code>.
</p>
<pre><code class="javascript">
    Boolean(-0); //false
    Boolean(1 < 2); //true
    var x, y = 'false';
    Boolean(x); //false
    Boolean(y); //true
</code></pre>
