<h2>Variables</h2>

<p>
    Una variable en Javascript puede contener cualquier tipo de datos, y no es necesario especificarlo al declarala.
</p>
<p>
    Además el tipo de datos que contiene una variable puede cambiar en cualquier momento.
</p>
<h4>/**** <code>var</code> ****/</h4>
<pre><code class="javascript">
    var i = 0;
    var data = {'nombre': 'Estudio Manatí', 'dirección': 'San Pedro', 'carga':true};
    var isReal = true;
    var total = parcial + impuesto;
    var miFuncion = function(i) {return ++i};
    var usoFuturo;

</code></pre>
