/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../../bower_components/reveal.js/css/theme/template/mixins";
@import "../../bower_components/reveal.js/css/theme/template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@font-face {
	font-family: 'League Gothic';
	src: url('../../bower_components/reveal.js/lib/font/league_gothic-webfont.eot');
	src: url('../../bower_components/reveal.js/lib/font/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../../bower_components/reveal.js/lib/font/league_gothic-webfont.woff') format('woff'),
		 url('../../bower_components/reveal.js/lib/font/league_gothic-webfont.ttf') format('truetype'),
		 url('../../bower_components/reveal.js/lib/font/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');

	font-weight: normal;
	font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Montserrat:400,700);

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainColor: $base00;
$headingColor: $base01;
$headingTextShadow: none;
$backgroundColor: $base3;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $magenta;

$heading1TextShadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 20px 20px rgba(0,0,0,.15);
$mainFont: 'Roboto Slab', sans-serif;
$headingFont: 'Montserrat', Impact, sans-serif;
$headingLetterSpacing: -0.03em;

// Background generator
@mixin bodyBackground() {
	@include radial-gradient( rgba($base3,1), rgba(lighten($base3, 20%),1) );
    background: url(../assets/images/manati-cara.png) bottom left no-repeat;
    background-attachment: fixed;
}



// Theme template ------------------------------
@import "../../bower_components/reveal.js/css/theme/template/theme";
// ---------------------------------------------
// FontAwesome ---------------------------------
@import "../../bower_components/fontawesome/css/font-awesome.min.css";
// ---------------------------------------------


//My Styles
.reveal {
    // Fontawesome rewrite
    i.fa {
        font-family:FontAwesome;
        font-style: normal;
    }

    li small {
        vertical-align: middle;
    }

    h1,h2,h3,h4 {
        code {
            text-transform: none;
        }
    }

    h1.small {
        font-size: 3em;
    }

    table {
        margin-left: auto;
        margin-right: auto;

        thead {
            background: #839496;
            color: #fdf6e3;
        }

        th {
            padding: 0 1em;
        }

        td {
            text-align: center;
        }
    }

    p {
        margin-bottom: 0.5em;
        text-align: left;
    }

    .img-frame {
        border-top: 5px solid #859900;
        margin-top: 0.7em;
        padding: 1em 0;
    }

    .logos {
        border: none;
        box-shadow: none;
        width: 5em;
        margin: 0 1em;
    }

    p.campito {
        margin: 1em 0;
    }

    p.center {
        text-align: center;
    }

    .perico {
        color: $green;
        font-weight: 600;
    }

    .pitufo {
        color: $blue;
        font-weight: 600;
    }

    .forrado {
        background: rgba(0,0,0,0.5);
        padding: 1em;
    }

    .lista-grande {
        li {
            list-style-type: disc;
            margin-left: 2em;
        }

        margin: 1em 0;
        -webkit-column-count: 2;
        -moz-columnt-count: 2;
        column-count: 2;

        -webkit-column-gap: 4em; /* Chrome, Safari, Opera */
            -moz-column-gap: 4em; /* Firefox */
            column-gap: 4em;
    }
}
